<%- include ("../partials/header") %>



<div class="main grid-container">
<div class="grid1">
  <div class="container">
    <h3>Side Panel</h3>
    <input type="file" size="60" id="file-selector" class="btn button btn-small"  ></input>
    <img src="" height="200" >
  </div>
  <div id="api-data">
    <p>Dataaaa</p>
  </div>
</div>
<div class="grid2">
  <div class="container">
    <header class="jumbotron">
      <h1>Welcome to Drive</h1>
    </header>

    <h1>Main Content</h1>

 <div class="container">
    <div class="row"> 
        <hr>
        <br><br>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Last Modified</th>
			        <th scope="col">Created</th>
              <th scope="col">Size</th>
			         <th scope="col">Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="implement_loop">
              <td>File Name</td>
              <td>Modified Date</td>
			  <td>Created On</td>
              <td>File Size</td>
			  <td>Desc</td>
              <td>
                <button type="button" class="btn button-sm btn-sm" ">Update</button>
                <button type="button" class="btn button-sm btn-sm"">Download</button>
				        <button type="button" class="btn button-sm btn-sm" ">Delete</button>					
              </td>
            </tr>
          </tbody>
        </table>
      
    </div>
    
		<br>
     
	
	
  </div>



    </div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

 const input = document.querySelector('input');
 console.log("Input",input);


 const fileSelector = document.getElementById('file-selector');
    console.log(fileSelector);
    fileSelector.addEventListener('change', (event) => {
    const fileList = event.target.files;
    console.log("filelist:",fileList[0].name);
    createImage(fileList[0]);
  });
  
  async function createImage (file) {
      // var image = new Image()
      console.log("createimage called");
      let image = '';
      const preview = document.querySelector('img');

      let reader = new FileReader();
      reader.addEventListener("load", function () {
        // convert image file to base64 string
        preview.src = reader.result;
        image = reader.result;
        }, false);
        if (file) {
          let img = reader.readAsDataURL(file);
        }
        //axios request
        const response = await axios({
        method: 'GET',
        url: 'https://4oetrge8t5.execute-api.us-east-1.amazonaws.com/default/Basic'
        });
        console.log('Response: ', response.data);
        console.log('Uploading: ', image);
      //upload blob conversion
      let binary = atob(image.split(',')[1]);
      let array = []
      for (var i = 0; i < binary.length; i++) {
        array.push(binary.charCodeAt(i))
      }
      let blobData = new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
      console.log('Uploading to: ', response.data.uploadURL);


      const result = await fetch(response.data.uploadURL, {
        method: 'PUT',
        body: blobData
      });
      console.log('Result: ', result);
}
 
</script>


<%- include ("../partials/footer") %>
